Pod::Spec.new do |s|
  s.name             = 'FFmpegKit'
  s.version          = 'VERSION'
  s.summary          = 'FFmpegKit Extended - Cross-platform FFmpeg wrapper library'
  s.description      = <<-DESC
FFmpegKit Extended is a native library that allows programatic access to executing 
FFmpeg, FFprobe, and FFplay commands for iOS and macOS. It provides a simple C and 
C++ API to execute these commands with callbacks for logs, statistics, session 
completion, media information parsing and more.
                       DESC

  s.homepage         = 'https://github.com/akashskypatel/ffmpeg-kit-builders'
  s.license          = { :type => 'LGPL-3.0', :file => 'LICENSE' }
  s.author           = { 'Akash Patel' => 'akashskypatel@users.noreply.github.com' }
  s.source           = { :git => 'https://github.com/akashskypatel/ffmpeg-kit-builders.git', :tag => 'v' + s.version.to_s }

  s.ios.deployment_target = '13.0'
  s.osx.deployment_target = '10.15'

  s.static_framework = true
  s.swift_version = '5.0'

  # Base LGPL variant
  s.subspec 'Base' do |base|
    base.vendored_frameworks = 'xcframeworks/ffmpegkit-base.xcframework'
    base.ios.frameworks = ['AVFoundation', 'CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    base.osx.frameworks = ['CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    base.libraries = ['c++', 'iconv', 'z']
  end

  # Full LGPL variant
  s.subspec 'Full' do |full|
    full.vendored_frameworks = 'xcframeworks/ffmpegkit-full.xcframework'
    full.ios.frameworks = ['AVFoundation', 'CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    full.osx.frameworks = ['CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    full.libraries = ['c++', 'iconv', 'z']
  end

  # Audio LGPL variant
  s.subspec 'Audio' do |audio|
    audio.vendored_frameworks = 'xcframeworks/ffmpegkit-audio.xcframework'
    audio.ios.frameworks = ['AVFoundation', 'CoreMedia', 'AudioToolbox']
    audio.osx.frameworks = ['CoreMedia', 'AudioToolbox']
    audio.libraries = ['c++', 'iconv', 'z']
  end

  # Video LGPL variant
  s.subspec 'Video' do |video|
    video.vendored_frameworks = 'xcframeworks/ffmpegkit-video.xcframework'
    video.ios.frameworks = ['AVFoundation', 'CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    video.osx.frameworks = ['CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    video.libraries = ['c++', 'iconv', 'z']
  end

  # Video HW LGPL variant
  s.subspec 'VideoHW' do |video_hw|
    video_hw.vendored_frameworks = 'xcframeworks/ffmpegkit-video_hw.xcframework'
    video_hw.ios.frameworks = ['AVFoundation', 'CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    video_hw.osx.frameworks = ['CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    video_hw.libraries = ['c++', 'iconv', 'z']
  end

  # Base GPL variant
  s.subspec 'BaseGPL' do |base_gpl|
    base_gpl.vendored_frameworks = 'xcframeworks/ffmpegkit-base-gpl.xcframework'
    base_gpl.ios.frameworks = ['AVFoundation', 'CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    base_gpl.osx.frameworks = ['CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    base_gpl.libraries = ['c++', 'iconv', 'z']
  end

  # Full GPL variant
  s.subspec 'FullGPL' do |full_gpl|
    full_gpl.vendored_frameworks = 'xcframeworks/ffmpegkit-full-gpl.xcframework'
    full_gpl.ios.frameworks = ['AVFoundation', 'CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    full_gpl.osx.frameworks = ['CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    full_gpl.libraries = ['c++', 'iconv', 'z']
  end

  # Audio GPL variant
  s.subspec 'AudioGPL' do |audio_gpl|
    audio_gpl.vendored_frameworks = 'xcframeworks/ffmpegkit-audio-gpl.xcframework'
    audio_gpl.ios.frameworks = ['AVFoundation', 'CoreMedia', 'AudioToolbox']
    audio_gpl.osx.frameworks = ['CoreMedia', 'AudioToolbox']
    audio_gpl.libraries = ['c++', 'iconv', 'z']
  end

  # Video GPL variant
  s.subspec 'VideoGPL' do |video_gpl|
    video_gpl.vendored_frameworks = 'xcframeworks/ffmpegkit-video-gpl.xcframework'
    video_gpl.ios.frameworks = ['AVFoundation', 'CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    video_gpl.osx.frameworks = ['CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    video_gpl.libraries = ['c++', 'iconv', 'z']
  end

  # Video HW GPL variant
  s.subspec 'VideoHWGPL' do |video_hw_gpl|
    video_hw_gpl.vendored_frameworks = 'xcframeworks/ffmpegkit-video_hw-gpl.xcframework'
    video_hw_gpl.ios.frameworks = ['AVFoundation', 'CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    video_hw_gpl.osx.frameworks = ['CoreMedia', 'CoreVideo', 'AudioToolbox', 'VideoToolbox']
    video_hw_gpl.libraries = ['c++', 'iconv', 'z']
  end

  # Base LGPL subspec is default
  s.default_subspec = 'Base'

end
