// swift-tools-version:5.7
// The swift-tools-version declares the minimum version of Swift required to build this package.

import PackageDescription

let package = Package(
    name: "FFmpegKit",
    platforms: [
        .iOS(.v13),
        .macOS(.v10_15)
    ],
    products: [
        // Base LGPL variant
        .library(
            name: "FFmpegKitBase",
            targets: ["FFmpegKitBase"]),
        
        // Full LGPL variant
        .library(
            name: "FFmpegKitFull",
            targets: ["FFmpegKitFull"]),
        
        // Audio LGPL variant
        .library(
            name: "FFmpegKitAudio",
            targets: ["FFmpegKitAudio"]),
        
        // Video LGPL variant
        .library(
            name: "FFmpegKitVideo",
            targets: ["FFmpegKitVideo"]),
        
        // Video HW LGPL variant
        .library(
            name: "FFmpegKitVideoHW",
            targets: ["FFmpegKitVideoHW"]),
        
        // Base GPL variant
        .library(
            name: "FFmpegKitBaseGPL",
            targets: ["FFmpegKitBaseGPL"]),
        
        // Full GPL variant
        .library(
            name: "FFmpegKitGPL",
            targets: ["FFmpegKitGPL"]),
        
        // Audio GPL variant
        .library(
            name: "FFmpegKitAudioGPL",
            targets: ["FFmpegKitAudioGPL"]),
        
        // Video GPL variant
        .library(
            name: "FFmpegKitVideoGPL",
            targets: ["FFmpegKitVideoGPL"]),
        
        // Video HW GPL variant
        .library(
            name: "FFmpegKitVideoHWGPL",
            targets: ["FFmpegKitVideoHWGPL"]),
    ],
    targets: [
        // Base LGPL variant
        .binaryTarget(
            name: "FFmpegKitBase",
            url: "https://github.com/akashskypatel/ffmpeg-kit-builders/releases/download/vVERSION/ffmpegkit-base.xcframework.zip",
            checksum: "CHECKSUM_BASE"
        ),
        
        // Full LGPL variant
        .binaryTarget(
            name: "FFmpegKitFull",
            url: "https://github.com/akashskypatel/ffmpeg-kit-builders/releases/download/vVERSION/ffmpegkit-full.xcframework.zip",
            checksum: "CHECKSUM_FULL"
        ),
        
        // Audio LGPL variant
        .binaryTarget(
            name: "FFmpegKitAudio",
            url: "https://github.com/akashskypatel/ffmpeg-kit-builders/releases/download/vVERSION/ffmpegkit-audio.xcframework.zip",
            checksum: "CHECKSUM_AUDIO"
        ),
        
        // Video LGPL variant
        .binaryTarget(
            name: "FFmpegKitVideo",
            url: "https://github.com/akashskypatel/ffmpeg-kit-builders/releases/download/vVERSION/ffmpegkit-video.xcframework.zip",
            checksum: "CHECKSUM_VIDEO"
        ),
        
        // Video HW LGPL variant
        .binaryTarget(
            name: "FFmpegKitVideoHW",
            url: "https://github.com/akashskypatel/ffmpeg-kit-builders/releases/download/vVERSION/ffmpegkit-video_hw.xcframework.zip",
            checksum: "CHECKSUM_VIDEO_HW"
        ),
        
        // Base GPL variant
        .binaryTarget(
            name: "FFmpegKitBaseGPL",
            url: "https://github.com/akashskypatel/ffmpeg-kit-builders/releases/download/vVERSION/ffmpegkit-base-gpl.xcframework.zip",
            checksum: "CHECKSUM_BASE_GPL"
        ),
        
        // Full GPL variant
        .binaryTarget(
            name: "FFmpegKitFullGPL",
            url: "https://github.com/akashskypatel/ffmpeg-kit-builders/releases/download/vVERSION/ffmpegkit-full-gpl.xcframework.zip",
            checksum: "CHECKSUM_FULL_GPL"
        ),
        
        // Audio GPL variant
        .binaryTarget(
            name: "FFmpegKitAudioGPL",
            url: "https://github.com/akashskypatel/ffmpeg-kit-builders/releases/download/vVERSION/ffmpegkit-audio-gpl.xcframework.zip",
            checksum: "CHECKSUM_AUDIO_GPL"
        ),
        
        // Video GPL variant
        .binaryTarget(
            name: "FFmpegKitVideoGPL",
            url: "https://github.com/akashskypatel/ffmpeg-kit-builders/releases/download/vVERSION/ffmpegkit-video-gpl.xcframework.zip",
            checksum: "CHECKSUM_VIDEO_GPL"
        ),
        
        // Video HW GPL variant
        .binaryTarget(
            name: "FFmpegKitVideoHWGPL",
            url: "https://github.com/akashskypatel/ffmpeg-kit-builders/releases/download/vVERSION/ffmpegkit-video_hw-gpl.xcframework.zip",
            checksum: "CHECKSUM_VIDEO_HW_GPL"
        ),
    ]
)
